.board{
  width: 100%;
  min-height: 4 * (50px);
  margin-bottom: 50px;
  border-radius: 3px;
  overflow: hidden;
  background: $secondary-blue;

  .orders{
    position: relative;
    z-index: 0;
  }
}
