.entry{
  overflow: hidden;
  background: #434C69;
  border-top: 0px solid rgba(255, 255, 255, 0.15);
  z-index: 1;
  padding: 0 0 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 0;
  transition: all 700ms ease-in-out;
  //transition: max-height 700ms ease-in-out;

  button{
    margin: 10px 25px 15px 0 ;
  }

  &__detail{
    height: 100%;
    overflow: hidden;
    font-weight: 600;
    margin: 0 0 7px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &:first-child{
      margin-top: 20px;
    }


    p{
      font-weight: 600;
      font-size: 1.5rem;
      padding: 3px 0;
      margin-right: 10px;
      width: 125px;

    }

    input{
      background: rgba(#fff, .15);
      padding: 8px 8px 8px 8px;
      border-radius: 5px;
      outline: none;
      border: none;
      font-size: 1.5rem;
      width: 340px;

      &::placeholder{
        color: rgba(#fff, .5);
      }
      &::-webkit-datetime-edit {
        color: rgba(#fff, .5);
      }
      &:valid::-webkit-datetime-edit {
        color: black;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button,
      &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    textarea{
      font-family: 'Quicksand', sans-serif;
      background: rgba(#fff, .15);
      padding: 8px 8px 8px 8px;
      height: 120px;
      border-radius: 5px;
      outline: none;
      border: none;
      font-size: 1.5rem;
      width: 340px;

      &::placeholder{
        color: rgba(#fff, .5);
      }
    }

    &.description input{
      padding-bottom: 200px;
    }
  }

  &.expanded{
    max-height: 600px;
    border-top: 25px solid rgba(255, 255, 255, 0.15);
  }
}

@include media-breakpoint-down(xs) {
  .entry{
    padding: 0 10px 0 10px;

    &__detail{
      textarea, input{
        width: 100%;
      }
    }

    &__buttons{
      width: 100%;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
      button{
        margin: auto;
        margin-bottom: 12px;
      }
    }

  }
}
