.navigation{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background:rgba(#fff,.40);
  color: $primary-blue;
  border-top: 1px solid $secondary-blue;
  margin-top: auto;

  i{
    padding: 0 35px;
    opacity: .5;
    font-size: 2.5rem;

    &.hide{
      visibility: hidden;
    }

    &:hover{
      opacity: 1;
    }
  }
}
