.button{
  outline: none;
  border: none;
  width: 175px;
  padding: 10px 5px;

  background: transparent;
  color: #6979ad;
  font-size: 1.45rem;
  font-weight: 700;

  border: 1.5px solid #6979ad;
  border-radius: 1000px;
  opacity: .75;

  margin: 0 10px;

  &.delete{
    opacity: .3;
  }

  &:hover{
    opacity: 1;
    box-shadow: 0 0 2px 1px rgba(#6979ad, .2);
  }

  &--pink{
    color: #c63baf;
    border-color: #c63baf;

    &:hover{
      box-shadow: 0 0 2px 1px rgba(#c63baf, .2);
    }
  }

  &--blue{
    color: #6979ad;
    border-color: #6979ad;

    &:hover{
      box-shadow: 0 0 2px 1px rgba(#6979ad, .2);
    }
  }
}
