.symbol{
  &:after{
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50px;
    margin: auto 0 auto 15px;
  }

  &.open{
    &:after{
      background: $order-open;
    }
  }
  &.pending{
    &:after{
      background: $order-pending;
    }
  }
  &.closed{
    &:after{
      background: $order-closed;
    }
  }
}
