.toggle{
  align-self: flex-end;
  display: flex;
  border-radius: 500px;
  overflow: hidden;

  margin-bottom: 20px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, .20);

  .toggle-button{
    font-size: 1.5rem;
    width: 90px;
    text-align: center;
    padding: 10px 4px;
    background: rgba(#fff, .3);
    opacity: .4;

    &.toggled{
      background: linear-gradient(to top, #e83e8c, #e83e8c);
      opacity: .9;
    }
  }
}
