$primary-blue: #1e2439;
$secondary-blue: #2e3858;

$primary-gray: #eee;
$primary-pink: #c63baf;


$order-open:#37ab51;
$order-pending:#d6c150;
$order-closed:#cd4c4c;

$detail-1: linear-gradient(
  to left,
  $order-open 0%,
  $order-open 100%
);
$detail-2: linear-gradient(
  to left,
  $order-pending 0%,
  $order-pending 100%
);
$detail-3: linear-gradient(
  to left,
  $order-closed 0%,
  $order-closed 100%
);
$detail-4: linear-gradient(
  to left,
  #33c3bf 0%,
  #33c3bf 100%
);

h1,h2,h3,h4,h5,h6,p{
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 3.5rem;
}

p{
  font-size: 1.4rem;
}

button{
  font-family: 'Quicksand', sans-serif;
}
