.panel{
  margin-bottom: 8px;

  .controls{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;

    p{
      margin-right: auto;
    }

    .button-secondary{
      display: block;
      margin: 0;
      width: 140px;
      padding: 10px 0;
      font-size: 1.7rem;
      opacity: .85;
      background: $green;
    }
  }
}


@include media-breakpoint-down(xs) {
  .panel > .controls{
    flex-flow: row;
    justify-content: center;


    p{
      display: none;
    }
  }
}

@include media-breakpoint-down(xs) {
  .panel{
    margin-bottom: 13px;
  }
}
