.detail{
  height: 175px;
  background: #eee;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
  border-radius: 3px;
  margin: 0 5px;
  background: left bottom $secondary-blue no-repeat;
  background-size: 100% 1px;
  transition: background 150ms ease-in;
  position: relative;

  &.selected{
    background-size: 100% 5px;
  }

  &:hover{
    background-size: 100% 5px;
  }

  h1{
    padding-top: 35px;
    padding-left: 15px;
    font-size: 6rem;
    line-height: 1.4rem;
    font-weight: 300;

    span{
      font-size: 1.7rem;
      margin-left: 5px;
    }
  }

  i{
    position: absolute;
    bottom: 15px;
    left: 12px;
    font-size: 5.75rem;
    color: #5f6885;
  }

  &-0{
    background-image: $detail-1;
    margin: 0 5px 0 0;
  }

  &-1{
    margin: 0 5px 0 5px;
    background-image: $detail-2;
  }

  &-2{
    margin: 0 5px 0 5px;
    background-image: $detail-3;
  }

  &-3{
    margin: 0 0 0 5px;
    background-image: $detail-4;
  }
}


@include media-breakpoint-down(md) {
  .detail{

    &-0, &-2{
      margin: 0 5px 10px 0;
    }

    &-1, &-3{
      margin: 0 0 10px 5px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .detail{
    margin: 0 0 10px 0;

  }
}
