.header{
  width: 100%;
  margin-bottom: 25px;
  margin-top: 20px;

  .title{
    margin: 15px 0;

    h1{
      width: 100%;
      color: $primary-gray;
    }

    p{
      width: 100%;
      color: $primary-gray;
    }
  }
}

@include media-breakpoint-down(md) {
  .header{
    margin-top: 0;
    margin-bottom: 5px;
  }
}
