.login{
  border-radius: 8px;
  height: calc(100vh - 60px);
  width: calc(100vh - 60px);
  display: flex;
  margin: auto;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: none;

  form{
    margin: auto;
    position: relative;
    top: -20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    h1{
      font-size: 4rem;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 600;
      color: #fff;
    }

    .input, .input:-webkit-autofill{
      display: block;
      background: #fff;
      outline:none;
      border: none;

      width: 100%;
      font-size: 2.0rem;
      margin-bottom: 20px;

      color: $primary-blue;

      border-radius: 7px;
      padding: 25px 35px;


      &::placeholder{
        color: $primary-blue;
      }
    }



  }
}


@include media-breakpoint-down(md) {
  .login.container{
    form{
      width: 90%;

      h1{
        font-size: 2rem;
      }
      input{
        font-size: 1.7rem;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .login.container{
    margin: auto;
    height: calc(100vh - 20px);
  }
}
