@import "bootstrap/grid.scss";
@import "base/variables.scss";

@import "components/detail.scss";
@import "components/order.scss";
@import "components/button.scss";
@import "components/status.scss";

@import "layout/header.scss";
@import "layout/board.scss";
@import "layout/panel.scss";

html{
  font-size: 10px;
  padding: 0;
  margin: 0;
  cursor: default;
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  height: auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  color: #eee;
  letter-spacing: .04rem;
  background-repeat: no-repeat;
}

#root{
  padding: 0 30px;
  min-height: 100vh;
  background: linear-gradient(35deg, $primary-blue, #212944);
  overflow: auto;
}

.container{
  width: 100%;
  max-width: 1400px;
}


@include media-breakpoint-down(xs) {
  #root{
    padding: 0 10px;
  }
}
