@import "bootstrap/grid.scss";
@import "base/variables.scss";

@import "components/button.scss";
@import "components/status.scss";

@import "layout/login/login.scss";
@import "layout/header/header.scss";
@import "layout/header/detail.scss";
@import "layout/panel/panel.scss";
@import "layout/board/board.scss";
@import "layout/board/order.scss";
@import "layout/board/information.scss";
@import "layout/board/entry.scss";


html{
  font-size: 10px;
  padding: 0;
  margin: 0;
  cursor: default;
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  height: auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  color: #eee;
  letter-spacing: .04rem;
  background-repeat: no-repeat;
}

input, h1{
  font-family: 'Quicksand', sans-serif;
}

#root{
  padding: 0 30px;
  min-height: 100vh;
  background: linear-gradient(35deg, $primary-blue, #212944);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.container{
  width: 100%;
  max-width: 1400px;
}


@include media-breakpoint-down(xs) {
  #root{
    padding: 10px;
  }
}
